.Navbar{
    max-width: 70%;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    
}

a {
    text-decoration: none;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

a:hover{
    transform: scale(1.5);
}

@media (max-width:700px) {
    .Navbar{
        display: none;
    }
}

